#include "stdafx.h"
#include <iostream>
using namespace std;

int fact(int n)
{
	if (n == 1) return 1;
	if (n == 0) return 0;
	return n * fact(n - 1);
}

void main()
{
	int n;
	cout << "input n: ";
	cin >> n;
	cout<<"factorial n: "<< fact(n) << endl;

	system("pause");

}
